<!DOCTYPE html>
<html>
<head>
    <title>File Browser</title>

</head>
<body>
    <h1>File Browser</h1>
    <ul>
        {% if parent_path %}
        <li>
            <a href="{{ url_for('browse', folder_path=parent_path) }}">..</a>
        </li>
        {% else %}
            <a href="{{ url_for('index') }}">..</a>
        {% endif %}
        {% for item in folder_structure %}
            {% if item.type == 'folder' %}
                <li>
                    <a href="{{ url_for('browse', folder_path=item.path) }}">{{ item.name }}</a>
                </li>
            {% else %}
                {% if item.name.endswith(".jpg") or item.name.endswith(".log") %}
                    <li>
                        <a href="{{ url_for('preview', file_path=item.path) }}">{{ item.name }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('download', file_path=item.path) }}">{{ item.name }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
